.h1 {
  color: #3d3d3d;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.h2 {
  color: #ff5a00;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 10px;
}

.h3 {
  color: #384168;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.h4 {
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.h5 {
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.h6 {
  color: #374168;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
}

.section {
  font-weight: 300;
  font-size: 18px;
  color: #384168;
}

.color-red {
  color: #f52740;
}

.color-orange {
  color: #ff5a00;
}

.color-blue {
  color: #11d8fb;
}
