.aside {
  width: 225px;
  padding-top: 52px;
  font-size: 12px;
  color: #fff;
  background-color: #2b4060;

  .logo {
    display: block;
    height: 40px;
    margin-bottom: 26px;
    background-repeat: no-repeat;
    background-position: 37px top;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiIFs8IUVOVElUWSBuc19leHRlbmQgImh0dHA6Ly9ucy5hZG9iZS5jb20vRXh0ZW5zaWJpbGl0eS8xLjAvIj48IUVOVElUWSBuc19haSAiaHR0cDovL25zLmFkb2JlLmNvbS9BZG9iZUlsbHVzdHJhdG9yLzEwLjAvIj48IUVOVElUWSBuc19ncmFwaHMgImh0dHA6Ly9ucy5hZG9iZS5jb20vR3JhcGhzLzEuMC8iPjwhRU5USVRZIG5zX3ZhcnMgImh0dHA6Ly9ucy5hZG9iZS5jb20vVmFyaWFibGVzLzEuMC8iPjwhRU5USVRZIG5zX2ltcmVwICJodHRwOi8vbnMuYWRvYmUuY29tL0ltYWdlUmVwbGFjZW1lbnQvMS4wLyI+PCFFTlRJVFkgbnNfc2Z3ICJodHRwOi8vbnMuYWRvYmUuY29tL1NhdmVGb3JXZWIvMS4wLyI+PCFFTlRJVFkgbnNfY3VzdG9tICJodHRwOi8vbnMuYWRvYmUuY29tL0dlbmVyaWNDdXN0b21OYW1lc3BhY2UvMS4wLyI+PCFFTlRJVFkgbnNfYWRvYmVfeHBhdGggImh0dHA6Ly9ucy5hZG9iZS5jb20vWFBhdGgvMS4wLyI+XT48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zOng9IiZuc19leHRlbmQ7IiB4bWxuczppPSImbnNfYWk7IiB4bWxuczpncmFwaD0iJm5zX2dyYXBoczsiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjgwIDk0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyODAgOTQiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxtZXRhZGF0YT48c2Z3ICB4bWxucz0iJm5zX3NmdzsiPjxzbGljZXM+PC9zbGljZXM+PHNsaWNlU291cmNlQm91bmRzICB3aWR0aD0iMjU0LjQiIGhlaWdodD0iNzMuOCIgeD0iMzA2LjUiIHk9Ii0yODkuMSIgYm90dG9tTGVmdE9yaWdpbj0idHJ1ZSI+PC9zbGljZVNvdXJjZUJvdW5kcz48L3Nmdz48L21ldGFkYXRhPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBmaWxsPSIjRkY5MDAwIiBkPSJNNTkuMiw0My43YzE1LjEtMTYuMiwyLjQtNDQuMSwxOC40LTI5YzE2LDE1LjEsMTYuNyw0MC41LDEuNyw1Ni43cy00MC4yLDE3LjEtNTYuMiwyUzQ0LjIsNTkuOSw1OS4yLDQzLjd6Ii8+PHBhdGggb3BhY2l0eT0iMC40MSIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNGMjI1NzciIGQ9Ik01OC4xLDQ4LjVjMjEuMS01LjgsMjUtMzYuMSwzMC42LTE0LjljNS42LDIxLjMtNyw0My4yLTI4LjEsNDljLTIxLjEsNS44LTQyLjgtNi44LTQ4LjQtMjguMUM2LjYsMzMuMiwzNi45LDU0LjIsNTguMSw0OC41eiIvPjxnPjxnPjxwYXRoIGZpbGw9IiNmZWZlZmYiIGQ9Ik0xMTQsMjguOUw5OSw2Mi4xaDQuMWwzLjctOC40SDEyNWwzLjcsOC40aDQuMmwtMTUtMzMuMkgxMTR6IE0xMDguNCw1MC4xbDcuNS0xNi45bDcuNSwxNi45SDEwOC40eiBNMTUwLjcsMjguOWgtMTIuNnYzMy4yaDMuOFY1MS42aDguN2M4LjMsMCwxMy00LjIsMTMtMTEuNkMxNjMuNywzMywxNTksMjguOSwxNTAuNywyOC45eiBNMTUwLjYsNDhIMTQyVjMyLjVoOC42YzYsMCw5LjUsMi42LDkuNSw3LjZDMTYwLjEsNDUuMywxNTYuNiw0OCwxNTAuNiw0OHogTTE3MC4xLDYyLjFoMy44VjI4LjloLTMuOFY2Mi4xeiBNMTk4LjUsMzUuMmMzLjIsMCw2LjcsMS40LDkuMiwzLjdsNC4zLTUuNGMtMy40LTIuOS04LjUtNC44LTEzLjQtNC44Yy0xMC40LDAtMTguMyw3LjMtMTguMywxNi45YzAsOS42LDcuNywxNywxNy44LDE3YzQuNiwwLDEwLTEuOCwxMy42LTQuM1Y0NS40aC02LjV2OC43Yy0yLjEsMS4xLTQuNSwxLjgtNi41LDEuOGMtNS45LDAtMTAuNi00LjUtMTAuNi0xMC40QzE4OCwzOS43LDE5Mi42LDM1LjIsMTk4LjUsMzUuMnogTTI1OC4xLDI4LjlsLTcsMjUuMWwtNy4xLTI1LjFoLTcuNGwtNywyNS4xbC03LTI1LjFoLTguMWwxMSwzMy4yaDcuOGw2LjktMjMuN2w2LjcsMjMuN2g3LjhsMTEuMS0zMy4ySDI1OC4xeiIvPjwvZz48L2c+PC9zdmc+);
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: #2d294c;
    border: none;
    margin: 0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08);
  }

  .add {
    display: block;
    width: 100%;
    padding: 20px 0 20px 37px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;

    i {
      color: #1fb6f5;
      font-size: 10px;
      margin-right: 16px;
    }
  }
}
