
.table {
  margin-top: 30px;

  .name {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
  }
}

.description {
  font-size: 11px;
  opacity: 0.8;
}

.pagination {
  margin-top: 43px;
  text-align: center;
}
