
$label: #3d3d3d;
$default: #8f8f8f;
$disabled: #dadcde;
$focused: #11d8fb;
$errored: #ff1f44;

.label-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.group-textarea {
  position: relative;
  display: flex;
  width: 100%;
}

.textarea {
  padding: 11px 10px 12px;
  color: rgba(61, 61, 61, 0.5);
  border: 1px solid #8f8f8f;
  font-size: 14px;
  width: 100%;

  &--focused {
    border-color: $focused;
  }

  &--disabled {
    border-color: $disabled;
  }

  &--errored {
    border-color: $errored;
  }
}

.label-text {
  margin-bottom: 15px;
  color: $label;
  font-size: 12px;
  font-weight: 400;
}

.required-label {
  position: absolute;
  top: 0;
  right: -2px;
  width: 0;
  height: 0;
  transform: rotate(45deg);
  border-right: 5px solid transparent;
  border-bottom: 5px solid $default;
  border-left: 5px solid transparent;

  &--error {
    border-bottom-color: $errored;
  }
}

.textarea:focus + .required-label {
  border-bottom-color: $focused;
}

.error-label {
  position: absolute;
  bottom: -13px;
  right: 0;
  padding: 8px 15px 7px 13px;
  color: #fff;
  background-color: $errored;
  font-size: 10px;
  line-height: 1.4;
}
