
.main {
  position: relative;
}

.back {
  padding-right: 17px;
  color: #1fb6f5;
  cursor: pointer;
}

.add-plugin {
  float: right;

  span {
    font-size: 10px;
    padding-right: 5px;
  }
}

.form {
  &__error {
    color: #ff1f44;
    margin-bottom: 15px;
  }
}
