$border-color: #dedede;
$placeholder-color: #999;
$hovered-bg: #f5f5f5;
$active-color: #11d8fb;
$disabled-bg: #f5f5f5;

.select {
  position: relative;
  display: inline-block;
  width: 100%;
  user-select: none;

  .placeholder {
    color: $placeholder-color;
  }

  &.disabled .control {
    opacity: 0.5;
    background-color: $disabled-bg;
    pointer-events: none;
  }

  .control {
    position: relative;
    width: 100%;
    min-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px 30px 10px 20px;
    line-height: 15px;
    box-shadow: 0 0 0 1px $border-color;
    cursor: pointer;
  }

  .label {
    margin-bottom: 11px;
  }

  .list {
    position: absolute;
    left: -9999px;
    top: -9999px;
    margin-top: 1px;
    box-shadow: 0 0 0 1px $border-color;
    background-color: #fff;
    z-index: -1;

    li {
      position: relative;
      padding: 10px 50px 10px 20px;
      line-height: 16px;
      word-break: break-all;
      cursor: pointer;

      &:hover {
        background-color: $hovered-bg;
      }

      &.active {
        color: $active-color;
      }

      &.disabled {
        opacity: 0.5;
        pointer-events: none;

        &:hover {
          background: none;
        }
      }

      .icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 12px;
        color: #44e240;
      }

      &:first-child {
        &::before,
        &::after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          position: absolute;
          top: -5px;
          right: 10px;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid #fff;
          z-index: 2;
        }

        &::after {
          top: -6px;
          border-bottom-color: $border-color;
          z-index: 1;
        }

        &:hover::before {
          border-bottom-color: $hovered-bg;
        }
      }
    }
  }

  &.top {
    .list {
      bottom: 37px;

      li:first-child {
        &::before,
        &::after {
          display: none;
        }
      }

      li:last-child {
        &::before,
        &::after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          position: absolute;
          bottom: -5px;
          right: 10px;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #fff;
          z-index: 2;
        }

        &::after {
          bottom: -6px;
          border-top-color: $border-color;
          z-index: 1;
        }

        &:hover::before {
          border-top-color: $hovered-bg;
        }
      }
    }
  }

  &.open {
    .list {
      top: auto;
      left: 0;
      right: 0;
      z-index: 2;
    }

    .arrow {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

.arrow {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #282828;
  z-index: 2;
  transition: transform 0.2s ease;
  will-change: transform;
}
